.st0 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.logo {
    width: 100px;
    float: left;
    transition: all 2s;
}

.logo:hover {
    width: 150px;
    height: 150%;
    transform: rotateY(360deg);

}

.navigation {
    float: right;
    font-family: 'Dosis', sans-serif;
    font-size: larger;


}

.navigation a {
    text-decoration: none;
    position: relative;
}

.navigation a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    /* Adjust the line thickness as needed */
    background-color: black;
    /* Set the color of the line */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    /* Add a transition for a smooth effect */
}

.navigation a:hover::after {
    width: 100%;
}

#active::after {
    content: "";
    display: block;
    width: 100%;
    /* Make the underline span the entire width of the item */
    height: 2px;
    /* Adjust the line thickness as needed */
    background-color: blue;
    /* Set the color of the underline */
    position: absolute;
    bottom: 0;
    left: 0;

}

.dropdown {
    position: relative;
    /* Create a positioning context for the dropdown menu */
    display: inline-block;
}

.dropdown-menu {
    display: none;
    /* Hide the dropdown menu by default */
    position: absolute;
    top: 100%;
    /* Position it below the parent item */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.mobile-nav{
    display: none;
}







video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

/* .row {
    display: flex;

} */

.column {
    padding: 10px;
    width: 100%;
    height: 500px;
    background-color: rgba(170, 170, 170, 0.8);
    border: 2px solid grey;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 40px;
    display: block;



}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: 0 auto;

}


#contacthead {
    font-size: 300%;
    font-family: 'Anton', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.contactcard {
    background-color: rgba(128, 128, 128, 0.7);
    padding: 20px;


}

#info {
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
    font-family: 'Dosis', sans-serif;
}

footer {
    background-color: #333;
    /* Background color for the footer */
    color: #fff;
    /* Text color for the footer */
    text-align: center;
    /* Center-align the text within the footer */
    padding: 10px;
    /* Add some padding for spacing */
    position: fixed;
    /* Fixed position to keep it at the bottom of the viewport */
    bottom: 0;
    /* Stick it to the bottom of the viewport */
    width: 100%;
    /* Full width of the viewport */
}

img {
    width: 100%;
    height: 50%;
    transition: all 0.5s;
}

h1 {
    float: left;
    margin-top: 100px;

}

.images:hover {
    height: 70%;

}

#culture:hover {

    filter: hue-rotate(90deg);
}

#accomodate:hover {
    filter: grayscale(100%);
}

#rules:hover {
    filter: blur(2px);
}

@media only screen and (max-width: 600px) {

    video {
        display: none;
    }

    body {
        background-image: url(assets/mountain.jpg);
    }

    h1 {
        float: none;
        text-align: center;
    }



    .navigation {
        float: none;
        text-align: center;
        display: none;
    }

    .logo {
        float: none;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .column{
        width: 100%;
        flex-direction: column;
        /* float: none; */
    }

    .container{
        width: auto;
        flex-direction: column;
        /* float: none; */
    }

    /* .row{
        float: none;
    } */

    .hamburger{
        position: fixed;
        top: 10px;
        right: 10px;
        
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;

        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar, .hamburger:after, .hamburger:before{
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color:#000000;
        margin: 4px 0px;
        transition: 0.4s;

    }

    .hamburger.is-active::before{
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active::after{
        transform: rotate(45deg) translate(-9px, 8px);
    }

    .hamburger.is-active.bar{
        opacity: 0;
    }
    


    .mobile-nav{
        position:fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 98;
        background-color: #12002F;
        padding-top: 120px;
        transition: 0.4s;

    }


    .mobile-nav.is-active{
        left: 0;
    }

    .mobile-nav a{
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: #1f103f;
    }









    }





